.animal-interesting-fact {
  font-style: italic;
}
.animal-list-item {
  font-weight: bold;
}
.animal-list{
  list-style: none;
  padding: 0px;
}
.animal-image{
  padding: 0px 0px 10px 0px;
  width: 300px;
  height: 200px;
}
#animal-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 15px 25px 15px;
  width: 300px;
  height: 600px;
  background-color: #FFFFFF;
  background-image: url("grasslands.jpg");
  position: relative;
  box-shadow: 5px 5px 5px 0px #C6CEC6
}
#card-content {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
